h1              { font-size: 8rem;
                  text-align: center;
                  font-family: 'Source Code Pro', monospace;
                  font-weight: 800;
                  color: #383636;
                  text-transform: uppercase; }

h2              { font-family: 'Source Code Pro', monospace;
                  font-weight: 800;
                  color: #383636; }

body            { font-size: 2rem;
                  color: #383636;
                  font-family: 'Source Code Pro', monospace; }

p               { font-size: 2rem;
                  color: #383636;
                  font-family: 'Source Code Pro', monospace; }

.hidden-list    { background: white; opacity: 0; visibility: 0;}

.navbar-inverse { border-radius: 0 !important;
                  -webkit-border-radius: 0 !important;
                  -moz-border-radius: 0 !important;
                  background-color: #383636; }

.navbar-brand   { font-size: 2.3rem;
                  font-family: 'Source Code Pro', monospace;
                  color: #AAAAAA; }

.navbar-nav     { font-size: 1.8rem;
                  font-family: 'Source Code Pro', monospace;
                  color: #AAAAAA; }

.navbar-footer  { font-size: 1.5rem;
                  color: #AAAAAA;
                  font-family: 'Source Code Pro', monospace;
                  font-variant: small-caps; }

.page-header    { margin-bottom: 40px; }

.task           { font-family: 'Source Code Pro', monospace;
                  font-size: 2rem;
                  outline: none; outline-style: none;
                  background:white; border:0px solid #ccc;
                  border-bottom: 3px solid #383636;
                  width: 100%; height: 1.5em; }

.task-form      { margin-top: 20px; }

.task-button    { font-family: 'Source Code Pro', monospace;
                  font-size: 2em;
                  padding-left: 0.1em; padding-right: 0.1em;
                  background: white; visibility: 0; opacity: 0; }

.control-label  { font-size: 1.8rem;
                  color: #383636;
                  font-family: 'Source Code Pro', monospace; }

.form-control   { font-size: 2rem;
                  color: #383636;
                  font-family: 'Source Code Pro', monospace;
                  outline: none; outline-style: none;
                  background:white; border:0px solid #ccc;
                  border-bottom: 3px solid #383636;
                  border-radius: 0 !important;
                  -webkit-border-radius: 0 !important;
                  -moz-border-radius: 0 !important; }

.btn-default    { font-size: 1.8rem;
                  color: #383636;
                  font-family: 'futura-pt',Futura,'Open Sans',sans-serif;
                }

.modal-footer   { margin-top: 50px;
                  border: none;
                }

.alert-info     { font-family: 'Source Code Pro', monospace;
                }

@media (min-width: 992px) {.container-content { width: 750px;}}