{% extends "base.html" %}

{% block page_content %}
    <div class="page-header">
        <h1>>_List</h1>
    </div>
    <div>
        {% if tasks|length == 0 %}
            <h2>Your todo list is empty.</h2>
        {% else %}
            <h2>Your current todo list is:</h2>
        {% endif %}
            <ol>
            {% for task in tasks %}
                <li><p>{{ task[1] }}</p></li>
            {% endfor %}
            </ol>
            {% if missing_rows|length != 0 %}
                <ol class="hidden-list">
                {% for row in missing_rows %}
                    <li><p>{{ row }}</p></li>
                {% endfor %}
                </ol>
            {% endif %}
        {% if bucket == 1 %}
            <h2>There is one more task in your bucket.</h2>
        {% elif bucket > 1 %}
            <h2>There are {{ bucket }} additional tasks in your bucket.</h2>
        {% else %}
            <h2>Your bucket is empty.</h2>
        {% endif %}
    </div>
    <div class="task-form">
        <p>Add, clear or revise a task, or start fresh:</p>
        <form action="{{ url_for('get_next_action') }}" method="post">
            <input class="task" type="text" maxlength="80" name="next_action" autofocus>  <button class="task-button" type="submit">+</button>
        </form>
    </div>
    <div>
      <p>Need some help? View a list of commands <a href="{{ url_for('how_to') }}">here</a>.</p>
    </div>

{% endblock %}
