{% extends "base.html" %}

{% block page_content %}
    <div class="page-header">
        <h1>>_How-To</h1>
    </div>
    <div>
        <h2>Use the following commands:</h2>
        <ol>
            <li><p>Add a task: just type it and press enter</p></li>
            <li><p>Delete a task: type c and its number (i.e., c2)</p></li>
            <li><p>Revise a task: type rev, its number, and the new task</p></li>
            <li><p>(i.e., 'rev3 Clarify how to revise a task')</p></li>
            <li><p>Start from scratch: type reset list</p></li>
        </ol>
        <h2>Extra tasks go in the bucket.</h2>
    </div>

    <div class="form">
        <form class = "task-form" action="{{ url_for('main.how_to') }}" method="post" role="form">
            {{ form.hidden_tag() }}
            <div class="form-group" style="height:55px;"">
                {{ form.next_action.label }}</br>
                {{ form.next_action(class="form-control", autocomplete="off", autofocus="autofocus") }}
                {% if form.next_action.errors %}
                    {% for error in form.next_action.errors %}
                        <p style="color:#a94442;">{{ error }}</p>
                    {% endfor %}
                {% else %}
                    <p>Type "back" or click <a href="{{ url_for('main.main_view') }}">here</a> to return to your list.</p>
                {% endif %}
                {{ form.submit(id="submit", class="task-button") }}
            </div>
        </form>
    </div>

{% endblock %}
