{% extends "base.html" %}

{% block page_content %}
    <div class="page-header">
        <h1>>_List</h1>
    </div>
    <div>
        {% if tasks|length == 0 %}
            <h2>Your todo list is empty.</h2>
        {% else %}
            <h2>Your current todo list is:</h2>
        {% endif %}
            <ol>
            {% for task in tasks %}
                <li><p>{{ task[1] }}</p></li>
            {% endfor %}
            </ol>
            {% if missing_rows|length != 0 %}
                <ol class="hidden-list">
                {% for row in missing_rows %}
                    <li><p>{{ row }}</p></li>
                {% endfor %}
                </ol>
            {% endif %}
        {% if bucket == 1 %}
            <h2>There is one more task in your bucket.</h2>
        {% elif bucket > 1 %}
            <h2>There are {{ bucket }} additional tasks in your bucket.</h2>
        {% else %}
            <h2>Your bucket is empty.</h2>
        {% endif %}
    </div>
    <div class="form">
        <form class = "task-form" action="{{ url_for('main_view') }}" method="post" role="form">
            {{ form.hidden_tag() }}
            <div class="form-group" style="height:55px;"">
                {{ form.next_action.label }}</br>
                {{ form.next_action(class="form-control", autocomplete="off", autofocus="autofocus") }}
                {% if form.next_action.errors %}
                    {% for error in form.next_action.errors %}
                        <p style="color:#a94442;">{{ error }}</p>
                    {% endfor %}
                {% else %}
                    <p>Type <code>help</code> or click <a href="{{ url_for('how_to') }}">here</a> to view a list of commands.</p>
                {% endif %}
                {{ form.submit(id="submit", class="task-button") }}
            </div>
        </form>
    </div>

{% endblock %}
