{% extends "base.html" %}
{% block page_content %}

<div class="page-header">
    <h1>>_Welcome<h1>
</div>

<div>
    <h2>CommandList is no-click to-do list:</h2>
    <ul>
        <li><p>Add tasks by just typing</p></li>
        <li><p>Delete or revise them with keyboard shortcuts</p></li>
        <li><p>Stay focused with kanban organization</p></li>
        <li><p>Add as many tasks as you want</p></li>
        <li><p>Focus on no more than five at a time</p></li>
    </ul>
    <h2><a href="{{ url_for('auth.login') }}">Log in</a> or <a href="{{ url_for('auth.register') }}">create an account</a>.</h2>
</div>

<div class="form">
    <form class = "task-form" action="{{ url_for('main.main_view') }}" method="post" role="form">
        {{ open_nav.hidden_tag() }}
        <div class="form-group" style="height:55px;"">
            {{ open_nav.next_action.label }}</br>
            {{ open_nav.next_action(class="form-control", autocomplete="off", autofocus="autofocus") }}
            {% if open_nav.next_action.errors %}
                {% for error in open_nav.next_action.errors %}
                    <p style="color:#a94442;">{{ error }}</p>
                {% endfor %}
            {% else %}
                <p>Type <code>sign up</code> or <code>log in</code> and then press enter.</p>
            {% endif %}
            {{ open_nav.submit(id="submit", class="task-button") }}
        </div>
    </form>
</div>

{% endblock %}