{% extends "base.html" %}
{% block page_content %}

<div class="page-header">
    <h1>>_Welcome<h1>
</div>

<div>
    <h2>CommandList is a keyboard-friendly to-do list</h2>
    <ul>
        <li><p>Add tasks by just typing</p></li>
        <li><p>Delete or revise them with keyboard shortcuts</p></li>
        <li><p>Stay focused with kanban organization</p></li>
        <li><p>Add as many tasks as you want</p></li>
        <li><p>Focus on no more than five at a time</p></li>
    </ul>
    <h2><a href="{{ url_for('login') }}">Log in</a> or <a href="{{ url_for('register') }}">create an account</a>.</h2>
</div>

<div>
    {{ wtf.quick_form(open_nav) }}
</div>

<div>
  <p>Type "sign up" or "log in" and then press enter.</p>
</div>

{% endblock %}